.wrapper {
    width: 440px;
    margin-left: 20px;
}

hr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.hentry  {
    white-space: normal;
}

.hentry .entry-content {
    float: left;
    width: 440px;
    margin-top: 0px;
    padding-left: 0px;
}
